@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.cover-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.cover {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.cover.main {
    align-items: center;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    padding: 52px;
}

.cover-scroll {
    position: relative;
    width: 100%;
    height: 100%;
}

section {
    scroll-behavior: smooth;
}

.title {
    font-size: calc(1rem + 2vw);
}

.copyright {
    color: darkgray;
    font-size: calc(0.5rem + 0.5vw);
}

.text-center {
    margin: 0 auto;
    text-align: center;
}

.btn_scroll_down_container {
    background-color: transparent;
    border: 2px solid darkgray;
    color: darkgray;
    width: 50px;
    height: 50px;
    line-height: 55px;
    text-align: center;
    font-size: 50px;
    border-radius: 50%;
}

.text-down-arrow {
    -webkit-animation: updown 0.3s linear 0s infinite alternate;
}

@-webkit-keyframes updown {
    0% {
        margin-top: 0;
    }
    100% {
        margin-top: 5px;
    }
}